.contents {
  position: relative; /* This is necessary for absolute positioning of the pseudo-element */
  padding-top: 7rem;
  padding-bottom: 2rem;
  background-image: url("../Assets/bakgrunn4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: #333;
  font-family: Arial, sans-serif;
  z-index: 1; /* Ensure the text appears above the overlay */
}

.contents::before {
  content: "";
  position: absolute; /* Absolute position inside the .contents container */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: -1; /* Ensure the overlay is behind the content */
}

.contents h2 {
  color: #007bff; /* Gives headings a pop of color */
  text-align: center; /* Centering the title */
}

.contents iframe {
  display: block; /* Remove any default space below the iframe */
  width: 100%; /* Full width */
  min-height: 100vh; /* Full height of the viewport */
  margin-top: 7rem; /* Space for the header, adjust as needed */
  border: none; /* Remove any default border */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .contents {
    padding-top: 2rem;
    padding-bottom: 1rem;
    background-attachment: scroll;
    min-height: 100vh; /* Background scrolls with the page on smaller screens */
  }

  .contents iframe {
    min-height: 500px; /* Minimum height for smaller devices */
    margin-bottom: 1rem; /* Less space after the iframe on smaller screens */
  }
}
