.image-container {
  position: relative;
  margin: 0; /* Adjust as needed to remove any unwanted space */
}

/* Image-specific styles */
.image-container img {
  display: block; /* Removes the white space below the image */
  width: 100%; /* Makes the image stretch to the full container width */
  height: auto; /* Keeps the image aspect ratio */
  border: none; /* Removes any border around the image */
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure it fills at least the viewport height */
}
.content {
  flex: 1; /* This will make sure it expands to push the footer down */
}
.main-content {
  padding-top: 4rem; /* Adjust the amount of space as needed */
}
